<h1>Bulk Discount Show Page</h1>


<p> Name of Discount: <%= @discount.name %> </p>
<p> Percent Off: <%= @discount.percentage %> </p>
<p> Minimum Item Quantity Threshold: <%= @discount.threshold %> </p>

<br>

<%= link_to "Edit This Bulk Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{@discount.id}/edit", method: :patch %><br><br>

